ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation a{
    color: whitesmoke;
}

#MonCaroussel1{
    height: 85vh;
}
#MonCaroussel1 li{
    width: 50px;
    height: 50px;
    border: 3px solid grey;
    border-radius: 50px;
    overflow: hidden;
}

#MonCaroussel1 li img{
    width: 150%;
    position: relative;
    top: 0px;
    left: -5px;
}

.MonCaroussel1-caption{
    bottom: 35%;
}
.MonCaroussel1-caption *:first-child{
    font-size: 4em;
    line-height: 0.9;
    text-shadow:3px 3px #000000;
}
.MonCaroussel1-caption *:nth-child(2){
    font-weight: bold;
    font-size: 1.3em;
}

.services{
    height: 90vh;
    background: center/100% no-repeat url(../images/image1.jpg);
}
.services div{
    background: #ffffffbb;
}

.services .container, .services .container *{
    background: rgba(0, 0, 0, 0);
}

.services .card{
    background: white;
    border: 1px solid #007bff;
    border-radius: initial;
    margin-bottom: 5px;
    padding: 15px;
}
.services .col-4{
    /* width: 30%; */
    flex: 0 0 32.5%;
}
.services .card svg{
    margin: auto;
    font-size: 4em;
    background-color: #007bff;
    color: white;
    padding: 10px;
}

.parentAbout{
    height: 80vh;
    
    background: left url(../images/coeurs.jpg);
}
.parentAbout div{
    background: #ffffffbb;
}
.parentAbout .container, .parentAbout .container .row{
    background: rgba(0, 0, 0, 0);
}

.about{
    padding-top: 5%;
}

#MonCaroussel2 ol{
    position: relative;
}

#MonCaroussel2 ol li{
    border: none;
    border-radius: 50px;
    background-color: grey;
    width: 20px;
    height: 20px;
}
#MonCaroussel2 ol .active{
    background-color: #007bff;
}

.counterZone{
    background: center/100% url(../images/image4.jpg);
}
.counterZone>div{
    background: #6a1e8898;
    padding: 3.5rem 0;
}
.counterZone svg{
    margin: auto;
    font-size: 4.5rem;
    padding: 10px;
}
.counterZoneText{
    font-size: 2rem;
}

.galeryExpert div{
    width: 20%;
}
.galeryExpert img{
    width: 100%;
}